<h1>Author</h1>
<%= form_for :author, url: authors_path do |f| %>
    <p>
      <strong>First name: </strong>
      <%= @author.first_name  %><br>
    </p>

    <p>
      <strong>Last name: </strong>
      <%= @author.last_name %><br>
    </p>

    <p>
      <strong>Homepage: </strong>
      <%= @author.homepage %><br>
    </p>

    <%= link_to 'Edit', edit_author_path(@author) %>
    <%= link_to 'Back', authors_path %>
<% end %>